#!name=🍿️ DualSubs: 🇳 Netflix
#!desc=Netflix字幕增强及双语模块
#!openUrl=http://boxjs.com/#/app/DualSubs.Netflix
#!author=VirgilClyne
#!homepage=https://github.com/DualSubs
#!manual=https://github.com/DualSubs/Netflix/wiki/🍿-DualSubs:-🇳-Netflix
#!icon=https://github.com/DualSubs/Netflix/raw/main/database/icon_rounded.png
#!category=🍿️ DualSubs

#[rewrite_local]
# DualSubs.Netflix.Translate.Subtitles.response
^https?:\/\/(.+)\.oca\.nflxvideo\.net\/\?o=\d+&v=\d+&e=\d+&t=.+ url script-response-body https://raw.githubusercontent.com/DualSubs/Universal/main/js/Translate.response.js

#[mitm]
hostname = *.oca.nflxvideo.net
